# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Jupyter Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# MacOS
.DS_Store

# Excel/CSV outputs
*.csv

!Base de datos estaciones SAMA.xlsx

# Ignorar todo lo relacionado con Docker
Dockerfile
docker-compose.yml
*.dockerignore
__docker__/


# Logs
*.log

# Otros
*.tmp
*.bak

# Git
.git/
